<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<title>~~~</title>
</head>
<body>
	<div style="background:url(file:///D:/12b25c46d3d3481e829d9cdc4fdbcff3.jpg); width:518px; height:91px;">
		<div style="margin-top:60px; margin-left:300px; margin-right:15px; font-size:14px; font-weight:bold;">
			<a href="" style="color:#FFFFFF;">HOME</a>
			<A href="" style="color:#FFFFFF;">POWER LEVELING</A>
			<A href="" style="color:#FFFFFF;">FAQ</A>
		</div>
	</div>
</body>
</html>
[img=http://][/img] 